# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example
!backend/services/identity/.env.example
!backend/services/core-platform/.env.example
!backend/services/communications/.env.example
!backend/services/payments-penalties/.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
tester_agent_prompt.txt

#sql files
*.sql
.sql*

#database build directory
supabase/*
supabase
*.csv


# Temprerarly ignoring all microservices accept identity for development purposes
# services/*
backend/services/core-platform/*
backend/services/communications/*
backend/services/payments-penalties/*
backend/services/allocation/*
.cursor/rules/senior-software-engineer.md
